.div_contulmeu {
    display: flex;
    min-height: 30pc;
    height: auto;
    justify-content: space-between;

    /* border: solid pink; */
}

.stanga {
    width: 30pc;

    /* border: solid red; */
}

.dreapta {
    width: 75pc;
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    display: none;
    overflow-x: auto;

    /* border: solid green; */
}

.vizibil {
    display: flex;
}

.setare {
    width: 100%;
    height: 5pc;
    margin-bottom: 1pc;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: none; */
    padding-left: 3pc;
    padding-right: 3pc;
}

.setare>img {
    width: 20px;
    height: auto;
}

.submit {
    width: auto;
    font-size: 80%;
    background-color: white;
    border: inset gray;
}

#stergere {
    color: red;
    font-weight: bolder;
}

.info h3 {
    margin-left: 1pc;
}

input {
    border: none;
    margin-left: 2pc;
    height: 3pc;
    padding-left: 5px;
}

.updatedinfo {
    min-width: 10pc;
    width: auto;
    font-size: 80%;

}

form {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-right: 10px;
    padding-left: 10px;
}

input[name="address"] {
    min-width: 20pc;
}

input[name="email"] {
    min-width: 15pc;
}

#judete {
    height: 3pc;
    font-size: 80%;
    margin-left: 1pc;
    margin-right: 0;
}

#imprumuturi {
    width: 100%;
    height: 100%;

    /* border: solid blue; */
}

.info {
    width: 100%;
}

.cartiimprumutate {
    width: 10pc;
}

#imprumuturi {
    display: flex;

}

td {
    text-align: center;
    padding-left: 1pc;
    padding-right: 1pc;
    padding-bottom: 1pc;
    width: 25%;
    vertical-align: top;

    /* border: solid black; */
}

table {
    /* border: solid pink; */
    width: 100%;
}

.accountfavs {
    border: inset;
    margin: auto;
    margin-top: 1pc;
}


@media only screen and (max-width: 1000px) {
    .div_contulmeu {
        flex-direction: column;
    }
    .stanga {
        width: 100%;
    }
    
    .dreapta {
        width: 100%;
        background-color: whitesmoke;
    }

    #imprumuturi {
        display: flex;
        flex-direction: row;
    }

}


#contulmeu_header {
    display: flex;
    justify-content: space-between;
}

#btn_imprumut {
    background-color: whitesmoke;
    height: 50%;
    /* align-self: center; */
}

#form_imprumut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#select_carte {
    padding: .5pc;
    border: none;
    text-align: center;
}

#data_impr {
    text-align: center;
    margin: 0;
}

.submitborrow {
    margin-top: 2pc;
    margin-left: 0;
}

.refresh-captcha:hover {
    cursor: pointer;
    text-decoration: underline;
}

.elem-group {
    text-align: center;
    padding: 0;
    margin-top: 2pc;
}

.centrat {
    display: none;
    justify-content: center;
    align-items: center;
}

#captcha {
    margin: 0;
}

#div_form_imprumut {
    display: flex;
    justify-content: center;
    align-items: center;
}
