.item {
    padding-right: 3pc;
}

.values>input {
    width: 15pc;
    height: 1.5pc;
    font-size: 110%;
}

textarea {
    width: 20pc;
    min-height: 10pc;
}

.values>input,
textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 1000px) {
    textarea {
        width: 15pc;
        min-height: 10pc;
    }
}