.admin_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.admin_select {
  width: 15pc;
  padding: .5pc;
  text-align: center;
  border: none;
}

.admin_submit {
  margin-left: 0;
  margin-top: 2pc;
  border: inset;
  width: 5vw;
}