.client_submit {
  margin: 0;
  background-color: white;
  border-left: solid black 5px;
  font-size: large;
  transition: 0.3s;
}

.client_submit:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(51, 0, 0);
}

.mark_as_read_div {
  display: flex;
  margin-top: 1pc;
  justify-content: space-between;
  align-items: center;
}

.mark_as_read_header {
  display: flex;
  margin-top: 1pc;
  margin-left: 2.5pc;
}

#divdescriere {
  width: 42%;
  font-weight: bold;
}

#divdata {
  font-weight: bold;
}

.notif_div {
  width: 35%;
}

.cartiimprumutate {
  width: 10pc;
}

td {
  text-align: center;
  padding-left: 1pc;
  padding-right: 1pc;
  padding-bottom: 1pc;
  width: 25%;
  vertical-align: top;
}

table {
  width: 100%;
}

.accountfavs {
  border: inset;
  margin: auto;
  margin-top: 1pc;
}


#btn_imprumut {
  background-color: whitesmoke;
  height: 50%;
}

#form_imprumut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#select_carte {
  padding: .5pc;
  border: none;
  text-align: center;
}

#data_impr {
  text-align: center;
  margin: 0;
}

.submitborrow {
  margin-top: 2pc;
  margin-left: 0;
}

.refresh-captcha:hover {
  cursor: pointer;
  text-decoration: underline;
}

.elem-group {
  text-align: center;
  padding: 0;
  margin-top: 2pc;
}

.centrat {
  display: none;
  justify-content: center;
  align-items: center;
}

#captcha {
  margin: 0;
}

#div_form_imprumut {
  display: flex;
  justify-content: center;
  align-items: center;
}
