body {
    /* background-color: bisque; */
    background: url("background.jpg");
    font-family: Georgia, serif;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2em;
    padding-bottom: 5em;
}

h1 {
    text-align: center;
}

p {
    margin-top: 2em;
}

.utilizator {
    margin-bottom: 1em;
}

#uml {
    width: 50%;
    border: solid;
    margin-left: 25%;
}